html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  padding-top: 70px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1200px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 2rem;
}

.product-card p {
  margin: 0.5rem 0;
}
